/* INTRO */

@font-face {
    font-family: Blender;
    src: url("font/Blender-Pro-Bold.otf") format("opentype");
}

* {
    margin: 0;
}

body {
    background-color: #434B63;
    overflow-y: scroll;
    background-image: url('img/background.jpg');
    box-shadow: inset 100px 100px 1000px black;
    height: 100vh;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

/* Main Content */

#main-wrapper {
    width: 100vw;
    height: 100vh;
}

#title {
    text-align: center;
}

.title-h {
    color: white;
    font-family: Blender;
    font-size: 8rem;
    text-shadow: 0 0 20px #ff005b;
    /* letter-spacing: 1rem; */
    user-select: none;
    padding-top: 10rem;
}

/* Title Animation */

span {
    opacity: 0;
}

span.text {
    transition: all 1s ease;
}

span.fade {
    opacity: 1;
}

span.cursor {
    opacity: 1;
}

/* BLURB */

#blurb {
    text-align: center;
    margin-top: 8vh;
}

.blurb-h {
    font-family: Blender;
    color: white;
}

/* CONTENT */

#content-wrapper {
    margin-top: 10rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 50px;
}

.a-button {
    font-family: Blender;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    margin: 0px 100px;
    transition: all 0.5s ease;
}

.a-button:hover {
    text-shadow:#ff005b 5px 0 10px;
    color: #ff005b;
}

/* MEDIA */

@media (max-width: 750px) {
    .title-h {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }

    .a-button {
        font-family: Blender;
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        margin: 0px 50px;
        transition: all 0.5s ease;
    }

    .blurb-h {
        font-family: Blender;
        color: white;
        font-size: 0.7rem;
    }
}