/* INTRO */

@font-face {
    font-family: Blender;
    src: url("font/Blender-Pro-Bold.otf") format("opentype");
}

@font-face {
    font-family: BlenderProBook;
    src: url("font/Blender-Pro-Book.otf") format("opentype");
}

* {
    margin: 0;
}

body {
    background-color: #434B63;
    overflow-y: scroll;
    background-image: url('img/background.jpg');
    box-shadow: inset 100px 100px 1000px black;
    height: 100vh;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

/* Main Content */

#main-wrapper {
    width: 100vw;
    height: 100vh;
}

#title {
    text-align: center;
}

.title-h {
    color: white;
    font-family: Blender;
    font-size: 8rem;
    text-shadow: 0 0 20px #ff005b;
    /* letter-spacing: 1rem; */
    user-select: none;
    padding-top: 10rem;
}

/* Title Animation */

span {
    opacity: 0;
}

span.text {
    transition: all 1s ease;
}

span.fade {
    opacity: 1;
}

span.cursor {
    opacity: 1;
}

/* BLURB */

#blurb {
    text-align: center;
    margin-top: 8vh;
}

.blurb-h {
    font-family: Blender;
    color: white;
    user-select: none;
}

/* CONTENT */

#content-wrapper {
    margin-top: 10rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 50px;
    user-select: none;
}

.a-button {
    font-family: Blender;
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    margin: 0px 100px;
    transition: all 0.5s ease;
    position: relative;
}

.a-button::before, .a-button::after{
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    color: white;
}

.a-button:hover::before {
    left: 2px;
    text-shadow: -20px 0 rgb(179, 0, 110);
    animation: effect .4s infinite linear alternate-reverse;
}

.a-button:hover::after {
    left: -2px;
    text-shadow: -20px 0 rgb(9, 80, 185);
    animation: effect .6s infinite linear alternate-reverse;
}

@keyframes effect{
    0%{
        clip:rect(25px, 9999px, 26px, 0);
    }
    5%{
        clip:rect(27px, 9999px, 15px, 0);
    }
    10%{
        clip:rect(13px, 9999px, 16px, 0);
    }
    15%{
        clip:rect(15px, 9999px, 9px, 0);
    }
    20%{
        clip:rect(23px, 9999px, 29px, 0);
    }
    25%{
        clip:rect(25px, 9999px, 1px, 0);
    }
    30%{
        clip:rect(27px, 9999px, 5px, 0);
    }
    35%{
        clip:rect(13px, 9999px, 25px, 0);
    }
    40%{
        clip:rect(15px, 9999px, 9px, 0);
    }
    45%{
        clip:rect(23px, 9999px, 20px, 0);
    }
    50%{
        clip:rect(15px, 9999px, 16px, 0);
    }
    55%{
        clip:rect(7px, 9999px, 17px, 0);
    }
    60%{
        clip:rect(13px, 9999px, 26px, 0);
    }
    65%{
        clip:rect(21px, 9999px, 9px, 0);
    }
    70%{
        clip:rect(18px, 9999px, 19px, 0);
    }
    75%{
        clip:rect(15px, 9999px, 21px, 0);
    }
    80%{
        clip:rect(2px, 9999px, 20px, 0);
    }
    85%{
        clip:rect(0px, 9999px, 18px, 0);
    }
    90%{
        clip:rect(15px, 9999px, 17px, 0);
    }
    95%{
        clip:rect(23px, 9999px, 3px, 0);
    }
    100%{
        clip:rect(20px, 9999px, 6px, 0);
    }
}

/* FOOTER LICENSE */

#footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer {
    font-family: BlenderProBook;
    color: white;
    padding: 10px;
    font-size: 0.7rem;
    user-select: none;
}

/* MEDIA */

@media (max-width: 750px) {
    .title-h {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }

    .a-button {
        font-family: Blender;
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        margin: 0px 50px;
        transition: all 0.5s ease;
    }

    .blurb-h {
        font-family: Blender;
        color: white;
        font-size: 0.7rem;
    }
}